@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textRed: #ff5a5a;
  --primaryRed: #ff8585;
  --validRed: #db6666;
  --orange: #ffaa85;
  --primaryBlue: #8eb9ff;
  --secondaryBlue: #85b6ff;
  --navBlue: #76aaff;
  --lightBlue: #85daff;
  --textGrey: #545f71;
  --borderGrey: #dadada;
  --cancelGrey: #b4b4b4;
  --tagRed: #ffbfbf;
  --tagGreen: #ace1ae;
  --tagPurple: #c8bfff;
  --mint: #74ffe6;
}

@font-face {
  font-family: 'NANUMSQUAREL';
  src: url('../../public/font/NANUMSQUAREL.OTF');
}
@font-face {
  font-family: 'NANUMSQUARER';
  src: url('../../public/font/NANUMSQUARER.OTF');
}
@font-face {
  font-family: 'NANUMSQUAREB';
  src: url('../../public/font/NANUMSQUAREB.OTF');
}
@font-face {
  font-family: 'NANUMSQUAREEB';
  src: url('../../public/font/NANUMSQUAREEB.OTF');
}

input[type='password'] {
  font-family: 'Malgun gothic', dotum, sans-serif;
}

@layer utilities {
  .triangle-white-top {
    width: 0;
    height: 0;
    border-bottom: 9px solid white;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
  }

  .triangle-red-bottom {
    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-top: 7px solid #ff0101;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}
