@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textRed: #ff5a5a;
  --primaryRed: #ff8585;
  --validRed: #db6666;
  --orange: #ffaa85;
  --primaryBlue: #8eb9ff;
  --secondaryBlue: #85b6ff;
  --navBlue: #76aaff;
  --lightBlue: #85daff;
  --textGrey: #545f71;
  --borderGrey: #dadada;
  --cancelGrey: #b4b4b4;
  --tagRed: #ffbfbf;
  --tagGreen: #ace1ae;
  --tagPurple: #c8bfff;
  --mint: #74ffe6;
}
